.login {
    text-align: center;
    color: #000;
    width: 100%;
    height: 100vh;
    background-color: #cdcdcd;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
    font-family: Inter, Arial;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 29px;
    display: flex;
  }
  
  .rectangle-1 {
    height: 45%;
    background-color: #afafaf;
    border-radius: 32px;
    flex-direction: column;
    flex-basis: 22%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 2px;
    padding-top: 12px;
    padding-left: 3px;
    padding-right: 1px;
    display: flex;
  }
  
  .cast {
    letter-spacing: 24px;
    margin-top: 3px;
    margin-bottom: 5px;
  }
  
  .rectangle-2 {
    text-align: center;
    color: #000;
    width: 50%;
    background-color: #e9bf2a;
    border: none;
    border-radius: 73px;
    flex-direction: row;
    flex-basis: 14%;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-left: 1px;
    padding-top: 2px;
    font-family: Inter, Arial;
    font-size: .875rem;
    font-weight: 400;
    line-height: 17px;
    display: flex;
  }
  
  .googlelogin {
    letter-spacing: 3px;
    margin-top: 1px;
  }